@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MotorKontor.UI.Models.DTO
@using MotorKontor.UI.Models
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Identity;
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage
@page "/getcustomer"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@code {

    private string baseEndpoint = "https://localhost:44384";
    private string retrieveCustomer = "/api/Test/GetCustomer?id=";

    private string jwtToken = "";
    private string userid = "";

    public Customer customer = new Customer();

 
    private async Task GetCustomerInfo()
    {
        jwtToken = await LocalStorage.GetItemAsync<string>("Token");        

        Http.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("bearer", jwtToken);
        var result = await Http.GetAsync(baseEndpoint + retrieveCustomer + customer.CustomerID);
        var customerString = await result.Content.ReadAsStringAsync();

        customer = JsonConvert.DeserializeObject<Customer>(customerString);

    }
}


<PageTitle>Customer</PageTitle>

<AuthorizeView>
    <Authorized>
        <EditForm Context="q" Model="@customer" OnSubmit="GetCustomerInfo">

        <div class="form-outline form-white mb-4">
                <InputNumber id="customerId" @bind-Value="customer.CustomerID" class="form-control form-control-lg" /> 
                
        </div>
        <input type="submit" value="Register" @onclick="GetCustomerInfo" class="btn btn-info btn-block" style="margin-top: 1rem;">
        </EditForm>
        <div class="container-fluid">                           
            <div class="CustomerInfo">
             @if (customer.CustomerID == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                               
                    <ul class="list-group list-group-flush">
                            <label class="form-label h-50" style="margin: 0;">Firstname</label>
                            <li class="list-group-item list-group-item-action">@customer.Firstname</li>
                            <label class="form-label h-50" style="margin: 0;">Lastname</label>
                            <li class="list-group-item list-group-item-action">@customer.Lastname</li>
                            <label class="form-label h-50" style="margin: 0;">CustomerID</label>
                            <li class="list-group-item list-group-item-action">@customer.CustomerID</li>
                            <label class="form-label h-50" style="margin: 0;">Email</label>
                            <li class="list-group-item list-group-item-action">@customer.Email</li>
                            <label class="form-label h-50" style="margin: 0;">StreetAddress</label>
                            <li class="list-group-item list-group-item-action">@customer.UserAddress?.StreetAddress</li>
                            <label class="form-label h-50" style="margin: 0;">StreetNumber</label>
                            <li class="list-group-item list-group-item-action">@customer.UserAddress?.StreetNumber</li>
                            <label class="form-label h-50" style="margin: 0;">Town</label>
                            <li class="list-group-item list-group-item-action">@customer.UserAddress?.Town</li>
                            <label class="form-label h-50" style="margin: 0;">Zipcode</label>
                            <li class="list-group-item list-group-item-action">@customer.UserAddress?.Zipcode</li>
                            <label class="form-label h-50" style="margin: 0;">PhoneNr</label>
                            <li class="list-group-item list-group-item-action">@customer.PhoneNr</li>
                            <label class="form-label h-50" style="margin: 0;">Username</label>
                            <li class="list-group-item list-group-item-action">@customer.Username</li>
                            <label class="form-label h-50" style="margin: 0;">Roles</label>
                            <li class="list-group-item list-group-item-action">@customer.Roles</li>                                       
                    </ul>
            }
            </div>
        </div>  
    
    </Authorized>
    <NotAuthorized>
        <span>Do you see this u unauthorized fag?!</span>
    </NotAuthorized>
</AuthorizeView>
